<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Creating new recipe</h1>
    <form action="/recipes/index.ejs" method="POST">
        <h2>Let's make a new recipe, <%= user.username %>!</h2>
            <label for="name" id="name">Recipe name: </label>
            <input type="text" name="name" id="name" required/>
                <label for="owner" id="owner">Creator: </label>
                <input type="text" name="owner" id="owner" required/>
            <p>
                <label for="name" id="name">Ingredients: </label>
                <input type="text" name="name" id="name" required/>
            </p>
            <p>
                <label for="name" id="name">Instructions </label>
                <textarea type="text" name="name" id="name" required></textarea>
            </p>
           
    </form>
</body>
</html>